img {
	margin: 0 auto;
	border-radius: 8px;
}

h3,
p {
	text-size-adjust: none;
	text-align: center;
}

h3 {
	/* color: hsl(218, 44%, 22%); */
	font-weight: 700;
	font-size: 1.25rem;
	padding: 1rem;
}

p {
	font-size: 1rem;
	padding: 0 1rem;
}

.qr-wrapper {
	height: 100vh;
	display: grid;
	place-items: center;
}
.qr-container {
	width: 280px;
	height: 450px;
	background-color: white;
	padding: 1rem;
	border-radius: 8px;
}
